* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	text-align: center;
	padding-top: 2rem;
	background: rgb(52, 52, 52);
}

.container {
	.media {
		max-width: 55rem;
		height: auto;
		margin: 2rem auto;
	}
	.tools {
		display: flex;
		align-items: center;
		justify-content: center;
		.tool {
			border: none;
			outline: none;
			border-radius: 3rem;
			font-size: 2.2rem;
			padding: 1rem 1.6rem;
			margin: 1rem;

			&.start {
				background: rgb(235, 57, 57);
				color: white;
			}
			&.stop {
				background: rgb(37, 192, 37);
				color: white;
			}
			&.source {
				background-color: rgb(225, 225, 225);
				color: black;
			}
		}
	}
}
